@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Syne:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body {
    background: #1b2029;
    color: white;
    min-height: 100vh;
}

.menu-mobile{
  padding-top: 17px;
}

.menu-mobile div{
  width: 32px;
  height: 2px;
  background: #ffff;
  margin: 8px;
  display: none;
}

header{
position: fixed;
display: flex;
width: 100%;
height: 75px;
background: #161923;
flex-wrap: wrap;
justify-content: center;
justify-content: space-around;
border-bottom: 1px solid #8880FE;
}

.nav-bar{
  cursor: pointer;
  padding-top: 18px;
  display: none;
}
.nav-bar div{
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
}
.itens-menu span{
  font-size: 17px;
}

.itens-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  width: 1000px;
  background-color: #161923;
  border-bottom: 1px #4b4596 solid;
  display: none;
}



header span{
font-size: 21px;
margin-left: 30px;
padding-top: 20px

}

header .itens{
padding-top: 20px;
margin-left: 10px;
}

.itens span{
  cursor: pointer;
}

.itens span:hover{
  text-decoration: underline #8880FE;
}


header img{
width: 110px;
padding-top: 10px;
margin-left: 30px;
}


.banner{
width: 95%;
height: 400px;
margin-left: 31px;
border-radius: 10px;
padding-top: 68px;
border: 1px solid #8880FE;
}

.banner1{
text-align: center;
padding-top: 90px;
}

.banner1 h2{
font-size: 35px;
}

.banner p{
color: white;
}

.banner button{
font-size: 17px;
margin-top: 10px;
width: 220px;
height: 35px;
background:#8880FE;
border: none;
border: 1px black solid;
border-radius: 10px;
cursor: pointer;
color: white;
}

.banner button:hover{
  transition: 0.3s;
  background-color:#5851c2 ;
}

.ofertas{
display: flex;
margin-right: 35px;  
}

.ofertas1 .a1 img{
  width: 80%;
  margin-left: 10%;
  margin-top: 65px;
  border-radius: 10px;
}


.ofertas1 .a2 img{
  width: 70%;
  margin-left: 15%;
  margin-top: 30px;
  border-radius: 10px;
  
}

.ofertas1 .a3 img{
  width: 40%;
  margin-left: 30%;
  margin-top: 60px;
  border-radius: 10px;
  
}

.ofertas1 .a4 img{
  width: 70%;
  margin-left: 17%;
  margin-top: 15px;
  border-radius: 10px;
  
}

.ofertas1{
height: 325px;
width:30%;
background: #161923;
margin-top: 50px;
margin-left: 31px;
border-radius: 10px;
justify-content: center;
border:1px solid #8880FE;   
}

.ofertas1 h4{
font-size: 23px;
text-align: center;   
padding-top: 15px;
}


.planos{
background: #161923;
margin-top: 50px;
width: 100%;
height: 1010px;
}

.planostemplate{
  margin-top: 25px;
}

.ofertas1 p{
  margin-left: 5px;
  padding-top: 10px;
}

.enunciado{
  text-align: center;
  padding-top: 120px;
  font-size: 24px;
}

.enunciado p{
  color: rgb(182, 182, 182);
}

.planinhos{
  display: flex;
  width: 80%;
  margin: 0 auto;
  
}

.planos1{
  display: flex;
  flex-wrap: wrap;
  
  
}

.planos .planos1{
  height: 500px;
  padding: 25px;
  margin-right: 20px;
  margin-top: 100px;
  border: 1px #706d9c solid;
  border-radius: 20px;
  

}


.planos1 h3{
  font-size: 26px; 
}

.botaorecomend{
  padding-top: 7px;
}

.recomend{
  height: 1px;
  font-size: 15px;
  margin-left: 10px;
  background-color:#8880FE;
  padding: 3px;
  border-radius: 10px;
}


.planos2{
  display: flex;
  flex-wrap: wrap;
  height: 550px;
  padding: 25px;
  margin-right: 20px;
  margin-top: 100px;
  border: 1px #706d9c solid;
  border-radius: 20px;
  background:#4b478134 ;
}

.planos2 h3{
  font-size: 26px; 
}

.botaoassinar1{
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color:#8880FE;
  color:white;
  transition: 0.8s;
}

.botaoassinar1:hover{
  background: #4b4596;
}


.planos2 p{
  font-size: 17px;
}



.formu{
  background: #1b2029;
  height: 950px;
}

form{
  margin-top: -120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px #706d9c solid;
  width: 32%;
  border-radius: 10px;
  height: 435px;
  margin-left: 720px;
}

form h2{
  margin-top: 35px;
}


form input{
  margin-top: 30px;
  width: 85%;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 15px;
}


select{
  width: 150px;
  height: 35px;
  font-size: 14px;
  background: #ffffff;
  margin-top: 10px;
  border-radius: 10px;
}


 form button{
  width: 60%;
  margin-top: 15px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color:#625ea1;
  font-size: 24px;
  color: white;
  transition: 0.3s;
 }

 form button:hover{
  background-color: #5a54ac;
 }

.frase h2{
  font-size: 34px;
  margin-top: 100px;
  margin-left: 70px;
}

.frase p{
  width: 36%;
  margin-left: 70px;
  text-align: center;
}

.nome{
  font-size: 10px;
 }






































































 @media screen and (max-width: 768px){
  header span{
    font-size: 15px;
    margin-left: 5px;
    display: none;
  }

  header img{
    width: 70px;
    margin-left: px;
    padding-top: 19px;
    display: flex;
    flex-wrap: wrap;
    
  }

  .banner{
    width: 90%;
    margin-left: 4.50%;
    height: 300px;
  }



  .banner1 h2{
    font-size: 15px;
  }

  .banner1{
    padding-top: 50px;
    }

    .ofertas{
      display: flex;
      flex-wrap: wrap;
      margin-right: 35px; 
      margin-left: 15px; 
      
      }

    .ofertas1{
      height: 250px;
      width:80%;
      background: #161923;
      margin-top: 20px;
      margin-left: -2px;
      border-radius: 10px;
      box-shadow: 2px 2px #8880FE;   
      margin: 0px auto;
      margin-top: 35px;
      margin-bottom: 25px;
      
      

    }

    .enunciado{
      text-align: center;
      padding-top: 20px;
      font-size: 20px;
    }

    .planos2 .botaorecomend .recomend{
      font-size: 15px;
    }

    .planinhos{
      display: flex;
      flex-wrap:wrap;
      width: 80%;
      margin: 0 auto;
      margin-top: -80px;
      margin-left: 45px;
    }

    .recomend {
      height: 1px;
      font-size: 10px;
      background-color:#8880FE;
      padding: 3px;
      border-radius: 10px;
    }


    .planos2 .recomend{
      height: 1px;
      font-size: 10px;
      margin-left: 10px;
      background-color:#8880FE;
      padding: 3px;
      border-radius: 10px;


    }

    .planos1 .recomend{
      height: 1px;
      font-size: 15px;
      margin-left: 10px;
      background-color:#8880FE;
      
    }

  
    .planos1 h3{
      font-size: 20px;
    }
    
    .planos{
      background: #161923;
      margin-top: 50px;
      width: 100%;
      height: 1950px;
      }

      .planos2{
        margin-top: 50px;
        margin-bottom: -75px;
      }

      .frase h2{
        font-size: 23px;
        margin-top: 60px;
        margin-left: 5px;
        text-align: center;
      }
      
      .frase p{
        width: 90%;
        font: 24px ;
        margin-left: 5%;
        margin-top: 10px;
        
        
      }

      form{
        margin-top: 70px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: 1px #706d9b solid;
        width: 80%;
        border-radius: 10px;
        height: 435px;
        margin-left: 35px
      }

      form input{
        margin-top: 30px;
        width: 90%;
        height: 40px;
        border: none;
        border-radius: 10px;
        padding-left: 10px;
        font-size: 18px;
      }

      form h2{
        font-size: 23px;
        text-align: center;
      }

      .menu-mobile{
        padding-left: 200px;
      }

      .menu-mobile div{
        display: block;
        
        
      }
    }